<launch>
  <node launch-prefix="valgrind --tool=callgrind --callgrind-out-file=$(find camera_person_detector)/callgrind.out" name="camera_person_detector" pkg="camera_person_detector" type="viewer" output="screen">
    <param name="image_transport" value="compressed" />
    <rosparam command="load" file="$(find bwi_camera)/cameras.yaml" />
  </node>
</launch>
