<launch>

  <!-- Run the wiimote controller -->
  <node name="wiimote" pkg="wiimote" type="wiimote_node.py" output="screen" />

  <!-- Run the joy2twist converter -->
  <node name="joy2twist" pkg="joy2twist_segway_rmp" type="joy2twist.py">
    <param name="max_linear_vel" value="0.02" />
    <param name="max_angular_vel" value="0.01" />
  </node>

</launch>
