<launch>
  <arg name="camname" value="axis9"/>
  <include file="$(find bwi_camera)/launch/axis-node.launch">
    <arg name="camname" value="$(arg camname)"/>
    <arg name="hostname" default="axis-00408c8e5fc1.local"/>
    <arg name="username" default="root"/>
    <arg name="password" default="longhorn"/>
    <arg name="frame_id" value="$(arg camname)"/>
  </include>
  <include file="$(find bwi_camera)/launch/$(arg camname)-tf.launch"/>
</launch>
