<launch>
  <arg name="camname" value="##CAMERA_NAME##"/>
  <include file="$(find bwi_camera)/launch/axis-node.launch">
    <arg name="camname" value="$(arg camname)"/>
    <arg name="hostname" value="##HOSTNAME##"/>
    <arg name="username" value="##USERNAME##"/>
    <arg name="password" value="##PASSWORD##"/>
  </include>
  <include file="$(find bwi_camera)/launch/$(arg camname)-tf.launch"/>
</launch>
