<launch>

  <!--- Run the segway -->
  <include file="$(find pharos_segbot)/launch/segway.launch" />

  <!--- Run the kinect -->
  <include file="$(find pharos_segbot)/launch/kinect.launch" />

  <!-- Run the map server -->
  <arg name="map_file" default="$(find pharos_segbot)/maps/ens-basement-2012-05-17.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find pharos_segbot)/launch/amcl.launch" />

  <!--- Run Move Base -->
  <include file="$(find pharos_segbot)/launch/move_base.launch" />

</launch>
