<launch>

  <arg name="world" default="ens32_world" />

  <!-- Start the world -->
  <include file="$(find bwi_gazebo)/launch/ens32_world.launch">
    <arg name="world" value="$(arg world)" />
  </include>

  <!-- Spawn first robot -->
  <arg name="robot1_ns" default="segbot1" />
  <include ns="$(arg robot1_ns)" file="$(find bwi_gazebo)/launch/segbot_mobile_base.launch">
    <arg name="world" value="$(arg world)" />
    <arg name="robotid" value="$(arg robot1_ns)" />
    <arg name="tf_prefix" value="$(arg robot1_ns)" />
    <arg name="use_simple_gazebo_model" value="true" />
  </include>

  <!-- Spawn second robot -->
  <arg name="robot2_ns" default="segbot2" />
  <include ns="$(arg robot2_ns)" file="$(find bwi_gazebo)/launch/segbot_mobile_base.launch">
    <arg name="world" value="$(arg world)" />
    <arg name="x" value="8" />
    <arg name="y" value="8" />
    <arg name="robotid" value="$(arg robot2_ns)" />
    <arg name="tf_prefix" value="$(arg robot2_ns)" />
    <arg name="use_simple_gazebo_model" value="true" />
  </include>

  <!-- Spawn third robot -->
  <arg name="robot3_ns" default="segbot3" />
  <include ns="$(arg robot3_ns)" file="$(find bwi_gazebo)/launch/segbot_mobile_base.launch">
    <arg name="world" value="$(arg world)" />
    <arg name="x" value="10" />
    <arg name="y" value="10" />
    <arg name="robotid" value="$(arg robot3_ns)" />
    <arg name="tf_prefix" value="$(arg robot3_ns)" />
    <arg name="use_simple_gazebo_model" value="true" />
  </include>

</launch>
