<launch>

  <arg name="world" default="ens32_world" />
  <arg name="map_file" default="$(find segbot_navigation)/maps/ens-basement-2012-07-26-edited.yaml"/>

  <!-- Start the world -->
  <include file="$(find bwi_gazebo)/launch/ens32_world.launch">
    <arg name="world" value="$(arg world)" />
  </include>

  <!-- Spawn first robot -->
  <arg name="robot1_ns" default="segbot1" />
  <include ns="$(arg robot1_ns)" file="$(find bwi_gazebo)/launch/autonomous_segbot.launch">
    <arg name="launch_world" value="false" />
    <arg name="robotid" value="$(arg robot1_ns)" />
    <arg name="tf_prefix" value="$(arg robot1_ns)" />
    <arg name="has_tf_prefix" value="true" />
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!-- Spawn second robot -->
  <arg name="robot2_ns" default="segbot2" />
  <include ns="$(arg robot2_ns)" file="$(find bwi_gazebo)/launch/autonomous_segbot.launch">
    <arg name="launch_world" value="false" />
    <arg name="start_x" value="8" />
    <arg name="start_y" value="8" />
    <arg name="robotid" value="$(arg robot2_ns)" />
    <arg name="tf_prefix" value="$(arg robot2_ns)" />
    <arg name="has_tf_prefix" value="true" />
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!-- Spawn third robot -->
  <arg name="robot3_ns" default="segbot3" />
  <include ns="$(arg robot3_ns)" file="$(find bwi_gazebo)/launch/autonomous_segbot.launch">
    <arg name="launch_world" value="false" />
    <arg name="start_x" value="10" />
    <arg name="start_y" value="10" />
    <arg name="robotid" value="$(arg robot3_ns)" />
    <arg name="tf_prefix" value="$(arg robot3_ns)" />
    <arg name="has_tf_prefix" value="true" />
    <arg name="map_file" value="$(arg map_file)" />
  </include>

</launch>
