<launch>

  <arg name="world" default="empty_world" />

  <!-- Start the world -->
  <include file="$(find bwi_gazebo)/launch/empty_world.launch">
    <arg name="world" value="$(arg world)" />
  </include>

  <!-- Spawn a single robot -->
  <include file="$(find bwi_gazebo)/launch/segbot_mobile_base.launch">
    <arg name="use_simple_gazebo_model" value="true" />
    <arg name="world" value="$(arg world)" />
    <arg name="x" value="0" />
    <arg name="y" value="0" />
  </include>

</launch>
