<launch>

  <!-- Need to provide robot model description as model running on separate machine -->
  <arg name="urdf_file" default="$(find segbot_description)/urdf/segbot.urdf" />
  <param name="robot_description" textfile="$(arg urdf_file)" />

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pharos_segbot)/rviz/nav_rviz.vcg" launch-prefix="optirun" /> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pharos_segbot)/rviz/nav_rviz.vcg"/>

</launch>
