<launch>
  <node pkg="usb_cam" name="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="pixel_format" value="mjpeg" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
  </node>

  <node pkg="glados_person_detection" name="glados_person_detection" type="person_detection.py" >
  </node>
</launch>
