<launch>
  <arg name="camname" value="axis8"/>
  <include file="$(find bwi_camera)/launch/axis-node.launch">
    <arg name="camname" value="$(arg camname)"/>
    <arg name="hostname" value="192.168.0.8"/>
    <arg name="username" value="root"/>
    <arg name="password" value="longhorn"/>
  </include>
  <include file="$(find bwi_camera)/launch/$(arg camname)-tf.launch"/>
</launch>
