<launch>
  <arg name="camname" default="camera"/>
  <arg name="hostname" default="192.168.0.90"/>
  <arg name="username" default="root"/>
  <arg name="password" default="pass"/> 
  <arg name="frame_id" default="$(arg camname)"/>
  <group ns="$(arg camname)">
    <node pkg="axis_camera" type="axis.py" name="axis" output="screen">
      <param name="hostname" value="$(arg hostname)" />
      <param name="username" value="$(arg username)" />
      <param name="password" value="$(arg password)" />
      <param name="width" type="int" value="640" />
      <param name="height" type="int" value="480" />
      <param name="frame_id" value="$(arg frame_id)"/>
    </node>
  </group>
</launch>
