<launch>
  <arg name="camname" value="##CAMERA_NAME##"/>
  <include file="$(find bwi_camera)/launch/axis-node.launch">
    <arg name="camname" value="$(arg camname)"/>
    <arg name="hostname" default="##HOSTNAME##"/>
    <arg name="username" default="##USERNAME##"/>
    <arg name="password" default="##PASSWORD##"/>
  </include>
  <include file="$(find bwi_camera)/launch/$(arg camname)-tf.launch"/>
</launch>
