<launch>
  <arg name="camname" default="camera"/>
  <arg name="camtype"/>
  <group ns="$(arg camname)">
    <!-- Launch the camera driver -->
    <include file="$(find bwi_camera)/launch/$(arg camtype)-node.launch">
      <arg name="camname" value="$(arg camname)" />
    </include>

    <!-- Launch the tf broadcaster -->
    <include file="$(find bwi_camera)/launch/$(arg camname)-tf.launch" />
  </group>
</launch>
