<launch>

  <group ns="$(arg camname)">

    <!-- Launch the camera driver -->
    <include file="$(find bwi_camera)/launch/c310_node.launch">
      <arg name="frame_id" value="/$(arg camname)" />
      <arg name="device" value="/dev/$(arg camname)" />
    </include>
    <include file="$(find map_camera_pose)/launch/map_camera_pose.launch">
      <arg name="launch_camera_frame" value="$(arg camname)" />
      <arg name="launch_file_path" value="$(find bwi_camera)/launch/$(arg camname)-tf.launch"/>
    </include>
  </group>

</launch>
