<launch>

  <!-- zeroconf and gateway -->
  <node ns="zeroconf" pkg="zeroconf_avahi" type="zeroconf" name="zeroconf"  output="screen"/>

  <node pkg="rocon_gateway" type="gateway.py" name="gateway" output="screen">
    <rosparam command="load" file="$(find launch)/param/machine.yaml" />
    <rosparam command="load" file="$(find rocon_gateway)/param/default_blacklist.yaml" />
  </node>

  <group ns="machineX">
    <include file="$(find bwi_camera)/launch/axis9.launch"/>
    <include file="$(find bwi_camera)/launch/axis25.launch"/>
    <include file="$(find camera_person_detector)/launch/detector.launch">
      <arg name="camname" value="axis9"/>
    </include>
    <include file="$(find camera_person_detector)/launch/detector.launch">
      <arg name="camname" value="axis25"/>
    </include>
    <include file="$(find camera_person_detector)/launch/aggregator.launch" >
      <arg name="camnames" value="axis9,axis25" />
    </include>
    <include file="$(find camera_person_detector)/launch/registrar.launch">
      <arg name="camname" value="axis9" />
    </include>
  </group>
</launch>
