<launch>


  <include file="$(find launch)/launch/map_server.launch" />

  <!-- Start the path planner -->
  <node name="path_provider" pkg="bwi_apps" type="path_provider" />

  <!-- Start BWI Navigator -->
  <node name="bwi_navigator" pkg="bwi_apps" type="bwi_navigator" output="screen">
    <param name="robot_list/demo1" value="robot1" />
  </node>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" />

</launch>
