<launch>

  <group ns="camera2">

    <!-- Launch the camera driver -->
    <include file="$(find bwi_camera)/launch/c310_node.launch">
      <arg name="frame_id" value="/camera2" />
      <arg name="device" value="/dev/camera2" />
    </include>

    <!-- Launch the tf broadcaster -->
    <include file="$(find bwi_run)/launch/camera2-tf.launch" /> 

    <!-- launch the marker detection -->
    <!-- <include file="$(find april_tags_node)/launch/april_tags_node.launch" /> -->

  </group>

</launch>
