<launch>

  <arg name="workstation" default="128.83.158.104" />
  <node pkg="multimaster" type="master_sync.py" name="master_sync" output="screen"> 
    <param name="foreign_master" value="http://$(arg workstation):11311" />      
    <rosparam command="load" file="$(find pharos_multimaster)/config/segbot.yaml" />
  </node>

</launch>
