<launch>

  <arg name="world" default="ens32_world" />
  <arg name="map_name_1" default="ens1" />
  <arg name="map_file_1" default="$(find bwi_gazebo)/maps/ens-basement-2012-09-04-simulation-1.yaml"/>
  <arg name="map_name_2" default="ens2" />
  <arg name="map_file_2" default="$(find bwi_gazebo)/maps/ens-basement-2012-09-04-simulation-2.yaml"/>

  <!-- Start the bwi map server with the ens split map specifications-->
  <node name="bwi_map_server" pkg="bwi_apps" type="bwi_map_server">
    <param name="maps/$(arg map_name_1)/yaml" value="$(arg map_file_1)" />
    <rosparam param="maps/$(arg map_name_1)/origin">[0, 0, 0, 0, 0, 0]</rosparam>
    <param name="maps/$(arg map_name_2)/yaml" value="$(arg map_file_2)" />
    <rosparam param="maps/$(arg map_name_2)/origin">[27.5, 0, 0, 0, 0, 0]</rosparam>
    <rosparam param="links">[{from_point: {level_name: ens1, point: [8, 0.5, 0]}, to_point: {level_name: ens2, point: [-9, 0.5, 0]}}]</rosparam>
  </node>

</launch>
