<launch>
<group ns="axis">
    <node pkg="axis_camera" type="axis.py" name="axis" output="screen">
      <param name="hostname" value="192.168.0.90" />
      <param name="password" value="pass" />
    </node>

    <!--Viewer window -->
    <node pkg="image_view" type="image_view" name="image_view">
    <remap from="image" to="image_raw" />
    <param name="image_transport" value="compressed" />
    </node>
    </group>
</launch>
