<?xml version="1.0"?>
<robot name="myfirst">

  <link name="base_footprint">
  </link>

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.022" radius="0.3"/>
      </geometry>
      <material name="gray">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
  </link>

  <joint name="base_footprint_to_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.17" />
  </joint>

  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.07" radius="0.17"/>
      </geometry>
      <material name="off-white">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
  </link>

  <joint name="base_to_left_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin rpy="1.5705 0 0" xyz="0 0.2 0" />
  </joint>

  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.07" radius="0.17"/>
      </geometry>
      <material name="off-white" />
    </visual>
  </link>

  <joint name="base_to_right_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin rpy="1.5705 0 0" xyz="0 -0.2 0" />
  </joint>

  <link name="camera_link">
    <visual>
      <origin xyz=" 0 0 0 " rpy="0 0 0" />
      <geometry>
        <mesh filename="package://pharos_segbot/meshes/kinect.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_link_to_camera" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="-0.06 0 0.261" rpy="0 0 0" />
  </joint>

  <joint name="camera_depth_joint" type="fixed">
    <origin xyz="0 0.018 0" rpy="0 0 0" />
    <parent link="camera_link" />
    <child link="camera_depth_frame" />
  </joint>

  <link name="camera_depth_frame">
  </link>

  <joint name="camera_depth_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5705 0 -1.5705" />
    <parent link="camera_depth_frame" />
    <child link="camera_depth_optical_frame" />
  </joint>

  <link name="camera_depth_optical_frame">
  </link>

  <joint name="camera_rgb_joint" type="fixed">
    <origin xyz="0 -0.005 0" rpy="0 0 0" />
    <parent link="camera_link" />
    <child link="camera_rgb_frame" />
  </joint>

  <link name="camera_rgb_frame">
  </link>

  <joint name="camera_rgb_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5705 0 -1.5705" />
    <parent link="camera_rgb_frame" />
    <child link="camera_rgb_optical_frame" />
  </joint>

  <link name="camera_rgb_optical_frame">
  </link>

</robot>
